@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    background: url("../img/bg1.jpg")
    no-repeat center center fixed;
    background-size: cover;
}

.banner{
    font-family: "Great Vibes";
    font-size: 60px;
    color: white;
    background-color: #2d3132;
    width: 50%;
    margin: 10% auto;
    text-align: center;
    border-radius: 30px;
    opacity: 50%;
    padding: 0.5%;
}

.author{
    font-size: 30px;
}

@media screen and (max-width:800px) {
    .banner{
        font-size: 40px;
    }

    .author{
        font-size: 20px;
    }
}

@media screen and (max-width:550px) {
    .banner{
        background-color: transparent;
        font-size: 25px;
        color: black;
        opacity: 100%;
    }

    .author{
        font-size: 15px;
    }
}

@media screen and (max-width:330px) {
    .banner{
        background-color: transparent;
        font-size: 20px;
        color: black;
        opacity: 100%;
    }

    .author{
        font-size: 10px;
    }
}